html {
    font-family: 'Rubik', sans-serif;
}
body {
    margin: 0px;
}
img {
  width: 150px; 
}
.nav-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;  
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    background-color: rgb(184, 179, 179);
  }
  span {
      font-size: 24px;
  }
  
  .nav-links {
      display: flex;
      width: 50%;
      justify-content: space-around;    
  }

  .nav-links a {
    text-decoration: none;
    color: black;
  }

.content {
   text-align: center;
   margin-top: 80px;
   margin-bottom: 40px;
}

form div {
    margin: 10px 0px;
}

form input {
    width: 250px;
    height: 25px;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgba(36, 34, 34, 0.5);
    padding: 0px 10px;
}

.content-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    margin: 40px;

}

.content-property{
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 700px;
}

.content-property p {
    margin: 5px 0px;
}

.content-image {
    margin-right: 50px;
    width: 200px;
    color: orange;
}


.content-attribute {
    font-weight: 600;
    font-size: 24px;
}

.product-section {
    display: flex;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 10px;
    width: 100%;
    margin-bottom: 20px;
}

.product-title {
    background-color: rgb(218, 212, 212);
    margin: 0px;
    padding: 10px;
    font-weight: 600;
}
.product-info {
    border: 1px solid black;
    margin: 0px 20px;
    text-align: center;
    width: 250px;
}
.product-details {
    padding: 10px 0px;
    font-weight: 300;
}
.product-price {
    font-weight: 600;
}
button {
    background-color: gold;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    font-family: 'Rubik', sans-serif;

}

button:hover {
    background-color: orange;
    cursor: pointer;
}

footer {
    background-color: rgb(235, 227, 227);
    width: 820px;
    margin: auto;
    padding-right: 20px;
    padding-bottom: 5px;
    font-family: 'Rubik', sans-serif;

}
.foot-notes {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0px 10px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 30px;
}

.foot-notes a {
     margin: 10px 20px 0px 20px;
     padding: 10px 0px;
     font-weight: 400;
     font-size: 16px;
     text-decoration: none;
     color: black;

}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0px 20px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-right: 20px;
    font-weight: 300;
}

.copyright p {
    margin: 0px 20px;
    font-size: 16px;
}
    








